# ----------------------------- USER SETTINGS -------------------------------- #

# Inside TRMNL visit your BYOD device settings via the top-right cog icon
API_KEY="CHANGE_TO_YOUR_API_KEY"

# URL to your BYOS server, or default: https://trmnl.app
BASE_URL="https://trmnl.app"

# After how many impressions to fully redraw the screen
DEGAUSS_AFTER=100

# Display brightness (0..24) - should be 0 when not connected to USB
BRIGHTNESS=0

# Number of seconds to wait before deep sleep (should be 1 in normal use)
GRACE_PERIOD=1

# ---------------------------------------------------------------------------- #
